:root {
  --heading-text: #081f32, 100 %;
  --body-text: #374a59, 100 %;
  --note-text: #999999, 100 %;
}

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  background-color: #000000;
}

//--home

.get-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

// -- character card
.flex {
  display: flex;
  padding: 25px 23px 25px 23px;
}

.card {
  display: flex;
  overflow: hidden;
  background-color: #ffffff;
  width: 515px;
  height: 265px;
  border-radius: 16px;

  &-img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 210px;
    background: linear-gradient(135deg, #ff0000 0%, #fed482 100%);

    &-photo {
      clip-path: circle();
      overflow: hidden;
      height: 230.31px;
      width: 169.3px;
    }
  }

  &-body {
    display: flex;
    flex-direction: column;
    width: 305px;
    align-items: flex-start;
  }
  &-header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 305px;

    &-note {
      padding-right: 25px;
      color: #999999;
      text-align: right;
      font-style: normal;
      font-weight: bold;
      line-height: 19px;
    }
  }

  &-title {
    padding-top: 7px;
    padding-left: 25px;
    padding-bottom: 16px;
    margin: 0px;
    font-size: 30px;
    line-height: 46px;
    font-weight: bold;
    color: #081f32;
  }

  &-subtitle {
    padding-left: 25px;
    padding-bottom: 0px;
    margin: 0px;
    line-height: 27px;
    font-weight: bold;
    color: #374a59;
    &-text {
      font-weight: normal;
    }
  }
}
